*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared-class */
.container{
 max-width: 1300px;
 margin: auto;   
}
.btn{
    padding: 5px;
    border:1px solid rgb(16, 25, 1);
    background-color: rgb(255, 255, 255);
    color: #2c3513;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(177, 231, 177); 
    color:#9c4013;;
   
}

header{
    background:greenyellow;
    
   
}


.green{
    color: rgb(2, 48, 2);
    font-weight: 700;

}
.red{
    color:rgb(99, 3, 3);
    
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
     padding: 10px 0;
    
}
/* end header section part  */
/* start hero section  */
.hero-container{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    align-items: center;
    padding: 70px;
    margin: 18px 0;
}
.hero-container  .hero-container-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;

}
.hero-container-subtitle{
    font-weight: 700;
    font-size: 56px;
    color: rgba(14, 14, 14, 1);
    margin: 0px 0px 10px 0px;
}
.btn{
    padding: 10px auto;
    margin: 10px 0px;
}

/* end hero section  */
/* 
start pillar section */
.pillar-card{
   background: #fff;
   border: 1px solid #e4dcdc;
   padding: 15px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.pillar-card-parent{
    display: flex;
    gap: 15px;
}
.pillar{
    margin: 80px auto;
}
.pillar-card img{
    width: 75px;
    height: 75px;

}
.pillar-title{
    font-weight: 700;
    font-size: 38px;
    margin: 20px 0;
}
.pillar-card p{
    color: #a19999;
    font-size: 14px;
}
/* recent-news part  */
.recent-new-section h2{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 8px;
}
.recent-new-section p{
    font-size: 14px;
    color: #625d5d;
}
.recent-news-header{
    margin-bottom: 15px;
}
.recent-new-card{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 10px;
}
.satelite-image{
    border-radius: 15px;
    width: 406px;
    height: 305px;
    margin-bottom: 20px;
}
.recent-news-info-parent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.al-jazeera-image{
    width: 134px;
    height: 40px;
}








@media screen and (max-width:576px){
 .green{
    color: rgb(2, 48, 2);
    font-size:20px 

}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: greenyellow;
   
}
  .btn{
    padding: 2px;
    margin: 5px 0;
    color: #031405;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer; 
}
.btn:hover{
    background-color: rgb(20, 70, 20); 
    color:#aefbff;  
}
.hero-container
{
    flex-direction: column;
    
}
.hero-container img{
    width:250px;
}
.hero-container  .hero-container-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;

}
.hero-container-subtitle{
    font-weight: 700;
    font-size: 30px;
    color: rgba(14, 14, 14, 1);
    align-items: center;
    text-align: center;
    
}

.recent-new-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px; 
}
.satelite-image{
  width: 100%;
}
.pillar-card img{
    margin: 0 auto;
    padding: 15px 0;

}
.pillar-card-parent{
    flex-direction: column;
    gap: 5px;
}
.recent-new-section h2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 5px;
    text-align: center;
}
.recent-new-section p{
    font-size: 16px;
    color: #625d5d;
    justify-content: justify;
  
}
.btn{
    border: 1px solid green;
   max-width: max;
}
.hero-container{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    background-image: linear-gradient(green, red);
    align-items: center;
    padding: 70px;
    margin: 18px 0;
  

}

@media screen and (min-width:576px) and (max-width:992px) {

    nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(95, 162, 2, 0.604);
    border-radius: 15px;
   
}
.hero-container{
    flex-direction: column;
}

}