*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared-class */
.container{
 max-width: 1300px;
 margin: auto;   
}
.btn{
    padding: 5px;
    border:1px solid rgb(16, 25, 1);
    background-color: rgb(255, 255, 255);
    color: #2c3513;
    font-size: 19px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(177, 231, 177); 
    color:#9c4013;;
   
}

header{
    background:greenyellow;
   
}


.green{
    color: rgb(2, 48, 2);

}
.red{
    color:rgb(99, 3, 3);
    
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
     padding: 10px 0;
}
